/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  min-width: 360px;
}
body {
  margin-bottom: 75px; /* margin bottom = footer height + 15px */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#error-message {
  display: none;
}

#btn-row {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#btn-row button {
  width: 100%;
}

#screenshot-loading {
  display: none;
  margin: 5rem auto;
  width: 100px;
  height: 100px;
}

#screenshot-container {
  display: none;
  margin: 0 auto 1rem;
  max-width: 960px;
  overflow-x: scroll;
}
